<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask API Test</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <h2>Huttooo mee ahapn oya eka eka paksha walata puka denna epaa.....</h2>
    <h4>helloo Blind safe pakayalaa meka thamai apita thiyana ekama vinode hutto...</h4>
  </body>
</html>
