<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blind Safe Flask Api</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
      const socket = io();
      socket.on('hello', (data) => {
          console.log(data.message);
      });
      socket.on('connect', () => {
          console.log("Connected to the server");
      });
      socket.on('disconnect', () => {
          console.log("Disconnected from the server");
      });
  </script>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <h2>Welcome to Blindsafe flask API..!</h2></br>
    <h4>Api Running on port number 5000.</h4>
    
  </body>
</html>
